
/* 
================================================================
1. Global Css styles
================================================================
*/

body {
    font-family: 'Teko', sans-serif;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
 }

h1 {
    margin: 0;
    padding: 0;
}

button {
    display: inline-block;
}

/* 
================================================================
2. Section header
================================================================
*/

.header {
    height: 100vh;
    background: url('../../img/bg2.jpg') no-repeat center top / cover;
    margin: 20px;
}

.nav {
    padding-top: 15px;
}

.logo {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.09em;
}

.hamburger {
    margin-top: 6px;
}

.hamburger span {
  display: block;
  width: 20px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #0e0e0e;
  z-index: 1;
}

.menu-buttons {
    float: right;
    padding-top: 10px;
}

.menu-buttons__open {
    margin-right: 26px;
    font-size: 18px;
}

.menu {
    background: transparent;
    border: none;
}

.menu-first {
    text-transform: uppercase;
    font-size: 14px;
}

.underline {
    width: 100%;
    height: 1px;
    background-color: black;
}

.header__title {
    padding-top: 80px;

}

.header__title--main {
    font-size: 300px;
    color: #0e0e0e;
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 100px;
}

.header__button--view {
    width: 170px;
    color: #ffffff;
    background-color: #0e0e0e;
    letter-spacing: normal;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
    padding: 10px 0;
    float: right;
}

/* 
================================================================
3. Section tiles
================================================================
*/

.toggle-layout {
    width: 170px;
    color: #ffffff;
    background-color: #0e0e0e;
    letter-spacing: normal;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
    padding: 10px 0;
}

.tiles {
    padding-top: 40px;
}

.ta-end {
    text-align: end;
}

.selects {
    font-size: 26px;
}

.select-title {
    color: #a3a3a3;
    margin-left: 10px;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0; 
    -moz-border-radius: 0;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    background-color: white;
}

.tiles__items {
    margin-top: 60px;
}

.tiles__items-wrap {
    flex-wrap: wrap;
}

.tiles__items__item {
    flex-basis: 540px;
    margin-bottom: 80px;
}

.tiles__items__item--photo {
    display: block;
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}

.tiles__items__item--resource {
    font-size: 20px;
    color: #939393;
    text-transform: uppercase;
}

.tiles__items__item--title {
    padding-top: 10px;
    margin-bottom: 15px;
}

.tiles__items__item--link {
    font-size: 18px;
    text-transform: uppercase;
    color: #1a18f7;
    font-weight: 500;
}


.advance {
    margin-bottom: 80px;
}

.grey {
    background-color:#dddddd;
    margin-bottom: 20px;
}

.tiles__items__item--text {
    font-size: 24px;
    color: #272727;
}

.firstCard {
    margin-bottom: 40px;
}

.secondCard {
    margin-bottom: 90px;
}

blockquote {
    font-size: 36px;
    letter-spacing: 0.01em;
}

.author {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.015em;
    margin-bottom: 80px;
}

/* 
================================================================
4. Section clients
================================================================
*/

.clients {
    background-color: #f3f6f6;
    padding-top: 80px;
}

.clients__header {
    text-align: center;
}

.clients__header--title {
    text-transform: uppercase;
    font-size: 60px;
}

.clients__header--description {
    font-size: 17px;
    width: 400px;
    margin: 0 auto;
    letter-spacing: 0.04em;
    font-weight: 400;
}

.clients__body {
    margin-top: 80px;
}

.clients__body--items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;
}

.clients__body--items img {
    margin-bottom: 20px;
}

/* 
================================================================
5. Section form
================================================================
*/


.form-container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.form-container__title {
    font-size: 60px;
    color: #0e0e0e;
}

.form-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
}


input[type=text] {
    margin-right: 40px;
    width: 300px;
    border: none;
    border-bottom: 2px solid #dddddd;
}

.message {
    margin-top: 80px;
}

textarea {
    border: none;
    border-bottom: 2px solid #dddddd;
}

form span {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}

.form-container__button {
    margin-left: 50px;
}

.form-container__button--send {
    background-color: #1a18f7;
    padding: 10px 51px;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 30px;
}

.text-error {
    color: #c00;
}

/* 
================================================================
6. Footer
================================================================
*/

.footer {
    background-color: #0e0e0e;
    padding-top: 98px;
    color: #ffffff;
    border-right: 100px solid white;
    position: relative;
    padding-bottom: 105px;
}

.footer a {
    color: #ffffff;
    text-transform: uppercase;
}

.navbar ul li {
    margin-right: 10px;
}

.brown {
    background-color: #3e3e3e;
}

.footer-items {
    color: #808080;
    font-size: 13px;
    font-weight: 300;
    margin-top: 55px;
}

.footer-items ul li {
    margin-right: 10px;
}

.conditions {
    list-style: none;
}

.top {
    position: absolute;
    right: -65px;
    bottom: 137px;
}

.top a {
    color: blue;
    font-size: 22px;
}


@media screen and (max-width: 992px) {
    .header__title--main {
        font-size: 170px;
    }
    .tiles__items__description {
        position: static;
    }
    .item-advance {
        width: 510px;
    }
}


.layout-list .tiles__items__item {
    display: flex;
    justify-content: left;
}

.layout-list .item-img-wrapper {
    width: 50%;
}

.layout-list .tiles__items__item--content {
    padding-left: 50px;
}
