<div class="selects">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <button class="toggle-layout">toggle Layout</button>
            </div>
            <div class="offset-md-4 col-md-4 selects ml-auto ta-end">
                <span class="select-title">Show me</span>
                <select name="groups" id="groups" class="groups filters select-choice">
                    {{#each groups}}
                        <option {{#if this.selected}}selected{{/if}} value="{{this.value}}">{{this.displayValue}}</option>
                    {{/each}}
                </select>

                <span class="select-title">in</span>
                <select name="industries" id="industries" class="industries filters">
                {{#each industries}}
                    <option {{#if this.selected}}selected{{/if}} value="{{this.value}}">{{this.displayValue}}</option>
                {{/each}}
            </select> 
            </div>
        </div>
    </div>
</div>
