{{#each items}}
    {{#if this.isSpecialLeft}}
        <div class="container pl-0 pr-0 advance">
            <div class="row">
                <div class="item-advance col-md-8">
                    {{> './components/image'}}

                    <span class="tiles__items__item--resource">{{this.name}}</span>
                    <h3 class="tiles__items__item--title">
                        {{this.about}}
                    </h3>
                    <a class="tiles__items__item--link" href="#">view case</a>
                </div>
                <div class="col-md-4">
                    {{> './components/linkedTiles'}}                    
                </div>
            </div>
        </div>
    {{else}}
        {{#if this.isSpecialRight}}
            <div class="container pl-0 pr-0 advance">
                <div class="row">
                    <div class="col-md-4">
                        {{> './components/linkedTiles'}}                    
                    </div>
                    <div class="item-advance col-md-8">
                        {{> './components/image'}}

                        <span class="tiles__items__item--resource">{{this.name}}</span>
                        <h3 class="tiles__items__item--title">{{this.about}}</h3>
                        <a class="tiles__items__item--link" href="#">view case</a>
                    </div>
                </div>
            </div>
        {{else}}
            {{#if this.isQuote}}
                <div class="underline grey"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 m-auto">
                                <blockquote>
                                    “{{this.quote}}”
                                </blockquote>
                                <p class="author">{{this.author}}</p>
                            </div>
                        </div>
                    </div>
            {{else}}
                <div class="tiles__items__item">
                    <div class="item-img-wrapper">
                        {{> './components/image'}}
                    </div>
                    <div class="tiles__items__item--content">
                        <span class="tiles__items__item--resource">{{this.name}}</span>
                        <h3 class="tiles__items__item--title">{{this.about}}</h3>
                        <a class="tiles__items__item--link" href="#">view case</a>
                    </div>

                </div>
            {{/if}}
        {{/if}}
    {{/if}}
{{/each}}
