<picture>
    <source data-srcset="{{this.webpImg}}" type="image/webp"/>
    <source data-srcset="{{this.img}}"/>
    <img
        src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
        data-src="{{this.img}}"
        alt="{{this.name}}" class="lazy tiles__items__item--photo"
        title="{{this.name}}"
    >
</picture>

