<div class="linked-items tiles__items__description">
    {{#each this.linkedTiles}}
        <div class="{{#if @first}}firstCard{{/if}}{{#if @last}}secondCard{{/if}}">
            <div class="underline grey"></div>
            <span class="tiles__items__item--resource">{{this.name}}</span>
            <p class="tiles__items__item--text">
                {{this.about}}
            </p>
            <a class="tiles__items__item--link" href="#">view case</a>
        </div>
    {{/each}}
    <div class="underline grey"></div>
</div>
